<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title left><a href="/">CookBook</a></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 offset-lg-4>
        <form [formGroup]="loginForm" (submit)="login()">
          <ion-list>
            <ion-item>
              <ion-label floating color="primary">E-mail</ion-label>
              <ion-input [formControl]="loginForm.controls['email']" type="email" required name="email"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="validator-error">
              Please enter a valid email.
            </div>
            <ion-item>
              <ion-label floating color="primary">Password</ion-label>
              <ion-input type="password" required [formControl]="loginForm.controls['password']" name="password"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="validator-error">
              Passwords should be at least 8 characters long and should contain one number, one character and one special character.
            </div>
            <div class="validator-error">
              {{ errorMessage }}
            </div>
            <div padding>
              <button [disabled]="!loginForm.valid" ion-button color="primary" block>Login</button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>