<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title left><a href="/">CookBook</a></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 offset-lg-4>
        <form [formGroup]="registrationForm" (submit)="register()">
          <ion-list>
            <ion-item>
              <ion-label floating color="primary">Display Name</ion-label>
              <ion-input [formControl]="registrationForm.controls['name']" type="text" required name="name"></ion-input>
            </ion-item>
            <div *ngIf="!registrationForm.controls.name.valid && registrationForm.controls.name.dirty" class="validator-error">
              Please enter a name.
            </div>
            <ion-item>
              <ion-label floating color="primary">E-mail address</ion-label>
              <ion-input [formControl]="registrationForm.controls['email']" type="email" required name="email"></ion-input>
            </ion-item>
            <div *ngIf="!registrationForm.controls.email.valid && registrationForm.controls.email.dirty" class="validator-error">
              Please enter a valid email.
            </div>
            <ion-item>
              <ion-label floating color="primary">Password</ion-label>
              <ion-input [formControl]="registrationForm.controls['password']" type="password" required name="password"></ion-input>
            </ion-item>
            <div *ngIf="!registrationForm.controls.password.valid && registrationForm.controls.password.dirty" class="validator-error">
                Passwords should be at least 8 characters long and should contain one number, one character and one special character.
            </div>
            <div padding>
              <button ion-button color="primary" block>Sign up</button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>