cookbook-footer {
  .button-md {
    height: 5.6rem;

    .button-inner {
      flex-flow: column;
      color: $tabs-tab-color-inactive;
    
      span {
        text-transform: none;
        margin-top: 10px;
      }
    }
  }
}
