<!-- <ion-grid no-padding>
  <ion-row align-items-center>
    <ion-col col-4 text-center>
      <button ion-button clear icon-only (click)="gotoPage('HomePage')">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </button>
    </ion-col>
    <ion-col col-4 text-center>
      <button ion-button clear icon-only (click)="gotoPage('ContactPage')">
        <ion-icon name="md-list-box"></ion-icon>
        <span>Contact</span>
      </button>
    </ion-col>
    <ion-col col-4 text-center>
      <button ion-button clear icon-only (click)="gotoPage('ContactPage')">
        <ion-icon name="md-list-box"></ion-icon>
        <span>Contact</span>
      </button>
    </ion-col>
  </ion-row>
</ion-grid> -->