<ion-header>
  <cookbook-header></cookbook-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 offset-lg-4>
        <h1>Add Recipe Book</h1>
        <form [formGroup]="recipeBookForm" (submit)="addRecipeBook()">
          <ion-list>
            <ion-item>
              <ion-label floating color="primary">Title</ion-label>
              <ion-input [formControl]="recipeBookForm.controls['title']" type="text" required name="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating color="primary">Description</ion-label>
              <ion-input type="textarea" [formControl]="recipeBookForm.controls['description']" name="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed color="primary">Cover Photo</ion-label>
              <ion-input type="file" id="filePicker" (change)="handleFileSelect($event)" name="photo" accept="image/*"></ion-input>
            </ion-item>
            <div class="validator-error">
              {{ errorMessage }}
            </div>
            <div padding>
              <button ion-button color="primary" block>Create Recipe Book</button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>