page-add-recipe-book {
  form {
    background: $form-bg-color;
    margin-top: 35px;
    border-bottom: 2px solid color($colors, primary);

    ion-item {
      padding-right: 16px!important;
    }
  }
}
