<ion-header>
  <cookbook-header></cookbook-header>
</ion-header>
  
  <ion-content padding>
    <h1>{{ user?.name }}</h1>
  </ion-content>
  
  <ion-footer>
    <cookbook-footer></cookbook-footer>
  </ion-footer>