<ion-header>
  <cookbook-header></cookbook-header>
</ion-header>

<ion-content class="card-background-page" padding>
  <div *ngIf="!recipeBooks" class="no-books">
    <ion-icon name="book"></ion-icon>
    <h1>You don't have any recipe books yet.</h1>
    <button ion-button round large color="primary" (click)="goToPage('AddRecipeBookPage')">Add a recipe book</button>
  </div>
  <div *ngIf="recipeBooks" class="content">
    <h1>My Recipe Books</h1>
    <div class="action-container">
      <ion-searchbar (ionInput)="getItems($event)" animated="true" debounce="500"></ion-searchbar>
      <button ion-button medium color="default" (click)="goToPage('AddRecipeBookPage')">Add a recipe book</button>
    </div>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 text-center *ngFor="let book of recipeBooks" align-self-stretch>
          <ion-card>
            <ion-item>
              <h2>{{ book.title }}</h2>
            </ion-item>
            <a (click)="openRecipeBook(book.id)">
              <img *ngIf="book.cover_photo" src="{{ imgUrl }}{{ book.cover_photo }}">
              <div class="placeholder" *ngIf="!book.cover_photo">
                <ion-icon name="images"></ion-icon>
              </div>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <cookbook-footer></cookbook-footer>
</ion-footer>