page-add-recipe {
  form {
    background: $form-bg-color;
    margin-top: 35px;
    border-bottom: 2px solid color($colors, primary);

    ion-item {
      padding-right: 16px!important;
    }
  }

  .add-item {
    padding-left: 16px;

    h2 {
      width: 100%;
    }

    ion-col {
      padding: 0;

      ion-item {
        padding: 0;
      }
    }

    button {
      border: none;
    }

    ion-icon {
      font-size: 2.5em;
    }
  }

  .ingredient-list {
    ion-label {
      margin-top: 0;
    }

    ion-icon {
      font-size: 2em;
    }
  }

  .step-list {
    ion-label {
      margin-top: 0;
    }
    
    ion-icon.close {
      font-size: 2em!important;
    }
  }
}
