<ion-header>
  <cookbook-header></cookbook-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 offset-lg-4>
        <h1>Add Recipe</h1>
        <form [formGroup]="recipeForm">
          <ion-list>
            <ion-item>
              <ion-label floating color="primary">Title</ion-label>
              <ion-input [formControl]="recipeForm.controls['title']" type="text"
                required name="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating color="primary">Description</ion-label>
              <ion-input type="textarea" [formControl]="recipeForm.controls['notes']"
                name="notes"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed color="primary">Cover Photo</ion-label>
              <ion-input type="file" id="filePicker" (change)="handleFileSelect($event)"
                name="photo" accept="image/*"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Servings</ion-label>
                  <ion-input [formControl]="recipeForm.controls['servings']" type="number" name="servings" placeholder="4"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked color="primary">Preparation Time</ion-label>
                  <ion-input [formControl]="recipeForm.controls['prep_time']" type="text" name="prep_time" placeholder="25 minutes"></ion-input>
                </ion-item>                
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked color="primary">Cooking Time</ion-label>
                  <ion-input [formControl]="recipeForm.controls['cooking_time']" type="text" name="cooking_time" placeholder="1 hour"></ion-input>
                </ion-item>                
              </ion-col>
              <div *ngIf="!recipeForm.controls.servings.valid && recipeForm.controls.cooking_time.valid && recipeForm.controls.prep_time.valid" class="validator-error">
                All of the fields are required.
              </div>
            </ion-row>
          
            <ion-row class="add-item">
              <h2>Ingredients</h2>
              <ion-col col-10>
                <ion-item>
                  <ion-input [formControl]="recipeForm.controls['ingredient']"
                    placeholder="100g flour" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-2 align-self-center text-center>
                <button ion-button icon-only outline (click)="addIngredient()" type="submit">
                  <ion-icon name="add-circle"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-list inset class="ingredient-list">
              <ion-item *ngFor="let ingredient of data.ingredients">
                {{ ingredient.quantity }} {{ ingredient.unit }} 
                {{ ingredient.ingredient }}
                <button ion-button clear item-end (click)="removeIngredient(ingredient)" type="submit">
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>
            </ion-list>

            <ion-row class="add-item">
              <h2>Steps</h2>
              <ion-col col-10>
                <ion-item>
                  <ion-input [formControl]="recipeForm.controls['step']"
                    placeholder="Instructions..." type="text">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-2 align-self-center text-center>
                <button ion-button icon-only outline (click)="addStep()" type="submit">
                  <ion-icon name="add-circle"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-list inset reorder="true" (ionItemReorder)="reorderItems($event)" class="step-list">
              <ion-item *ngFor="let step of data.steps; let i = index;">
                {{ i + 1 }}. {{ step }}
                <button ion-button clear item-end (click)="removeStep(step)" type="submit">
                  <ion-icon name="close" class="close"></ion-icon>
                </button>
              </ion-item>
            </ion-list>

            <div class="validator-error">
              {{ errorMessage }}
            </div>
            <div padding>
              <button ion-button color="primary" block type="submit" (click)="addRecipe()">Add recipe</button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>