// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------

$colors: (
  primary:    #AF3419,
  danger:     #f53d3d
);

$background-color: #f8f8f8;
$background-color-dark: #f3f2ee;
$form-bg-color: #ffffff;

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "../assets/fonts/lato";


$font-family-md-base: 'Lato';
$font-family-ios-base: 'Lato';
$font-family-wp-base: 'Lato';