page-recipe {
  h1, h2 {
    color: color($colors, primary)!important;
  }

  .card-md {
    width: calc(80% - 20px);
    margin: 10px auto;
  }

  .time {
    display: flex;
    justify-content: space-between;
  }

  .row {
    padding-top: 2em;

    h2 {
      font-size: 2rem;
    }

    ul, ol {
      padding-left: 20px;
    }

    ion-col:first-of-type {
      border-right: 25px solid transparent;
      box-shadow: inset -2px 0 0px 0px color($colors, primary);
      box-sizing: border-box;
    }
  }
}
