<ion-header>
    <cookbook-header></cookbook-header>
  </ion-header>


<ion-content class="card-background-page" padding>
  <div *ngIf="recipe" class="content">
    <ion-card>
      <ion-item>
        <h1>{{ recipe.title }}</h1>
        <p>{{ recipe.notes }}</p>
      </ion-item>
      <img *ngIf="recipe.cover_photo" src="{{ imgUrl }}{{ recipe.cover_photo }}"/>
      <ion-card-content>
        <div class="time">
          <p><strong>Servings:</strong> {{ recipe.serve_amount }}</p>
          <p><strong>Preparation time:</strong> {{ recipe.prep_time }}</p>
          <p><strong>Cooking time:</strong> {{ recipe.cook_time }}</p>
        </div>
        <ion-row>
          <ion-col col-xs-12 col-sm-3>
            <h2>Ingredients</h2>
            <ul>
              <li *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.quantity }} {{ ingredient.measurement }} {{ ingredient.ingredient.name }}
              </li>
            </ul>
          </ion-col>
          <ion-col col-xs-12 col-sm-9>
            <h2>Instructions</h2>
            <ol>
              <li *ngFor="let step of recipe.steps">
                {{ step.instruction }}
              </li>
            </ol>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
