page-recipe-book {
  ion-label {
    white-space: unset;
  }

  .item-md h2 {
    text-align: center;
    font-size: 2.3rem;
  }

  .card-md {
    height: 100%;
    max-height: 350px;
    margin: 0;
    padding-bottom: 0;

    img {
      max-width: unset;
      width: 100%;
    }
  }

  .placeholder {
    min-height: 250px;
    background: $background-color-dark;
    margin: 10px;

    ion-icon {
      font-size: 7em;
      opacity: 0.6;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 60%;
    }
  }
  
  .action-container {
    text-align: right;
    margin: 0.5em 0 3em;
  }
}
