<ion-header>
  <cookbook-header></cookbook-header>
</ion-header>

<ion-content class="card-background-page" padding>
  <div *ngIf="!recipes" class="no-books">
    <ion-icon name="book"></ion-icon>
    <h1>You don't have any recipes yet.</h1>
    <button ion-button round large color="primary" (click)="goToPage('AddRecipePage')">Add a recipe</button>
  </div>
  <div *ngIf="recipes" class="content">
    <h1>{{ recipeBookTitle }}</h1>
    <div class="action-container">
      <button ion-button medium color="default" (click)="goToPage('AddRecipePage')">Add a recipe</button>
      <button ion-button medium color="primary" (click)="presentModal()">Share RecipeBook</button>
      <button ion-button medium color="danger" (click)="showDeleteConfirm()">Delete RecipeBook</button>
    </div>
    <ion-grid>
        <ion-row align-items-center>
          <ion-col col-12 col-md-6 col-lg-4 col-xl-3 text-center *ngFor="let recipe of recipes" align-self-stretch>
            <ion-card>
              <ion-item>
                <h2>{{ recipe.title }}</h2>
              </ion-item>
              <a (click)="openRecipe(recipe.id)">
                <img *ngIf="recipe.cover_photo" src="{{ imgUrl }}{{ recipe.cover_photo }}">
                <div class="placeholder" *ngIf="!recipe.cover_photo">
                    <ion-icon name="images"></ion-icon>
                </div>
              </a>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <cookbook-footer></cookbook-footer>
</ion-footer>