<ion-split-pane when="(min-width: 1025px)" attr.data-lt="{{ showLogo }}">
  <ion-menu side="left" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title><user-data></user-data></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #content main [root]="rootPage"></ion-nav>
</ion-split-pane>