// App Global Sass

.button-round-md {
  margin: 1em 0;
  font-weight: 600;
  text-transform: none;
  color: #ffffff;
}

.scroll-content {
  overflow-y: auto;
}

ion-footer {
  background-color: #f8f8f8;
}

.ion-page ion-content {
  background-color: #f3f2ee;
}

.validator-error {
  color: color($colors, danger);
  padding: 15px 20px;
}

a {
  text-decoration: none;
}

ion-item {
  &.item-md {
    background: none;
    min-height: 68px;

    ion-label, ion-input {
      margin-bottom: 0;
    }
  }
}

.no-books {
  text-align: center;

  ion-icon {
    font-size: 6em;
    opacity: .5;
  }
}

.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 240px;
  max-width: 20%;
}

ion-title {
  text-align: center;
}

@media (min-width: 960px) {
  .ion-page ion-content {
    .scroll-content {
      .content {
        padding: 25px 10%!important;
      }
    }
  }
}