<ion-content>
  <div class="welcome-container">
    <div class="text-wrapper">
        <h1>Organise and share your recipe collections</h1>
        <ion-grid fixed>
          <ion-row>
            <ion-col col-12 col-md-4 offset-md-2 align-self-start>
              <h2>New users</h2>
              <p>New to Cookbook? Create an account now</p>
              <button ion-button round medium color="default" (click)="goToPage('RegisterPage')">Register</button>
            </ion-col>
            <ion-col col-12 col-md-4 offset-md-1 align-self-start>
              <h2>Registered users</h2>
              <p>Already have an account?</p>
              <button ion-button round medium color="default" (click)="goToPage('LoginPage')">Sign In</button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
    <div class="source">Photo by <a href="https://pixabay.com/users/Goumbik-3752482/">Goumbik</a> from <a href="https://pixabay.com/">Pixabay</a></div>
  </div>
</ion-content>
