page-welcome {
  .welcome-container {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.8)
      ),
      url(../../assets/imgs/cookbook-bg.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;

    .text-wrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      height: 100%;
      overflow: auto;
      margin-top: 10%;

      h1 {
        font-size: 3em;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      }

      h2 {
        font-weight: 600;
      }

      ion-grid {
        margin-top: 50px;

        ion-col:first-of-type {
          border-right: 2px solid;
        }
      }
    }
  }

  .source {
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    opacity: 0.4;

    a {
      color: #ffffff;
      font-weight: 700;
    }
  }

  @media (max-width: 576px) {
    .welcome-container {
      .text-wrapper {
        h1 {
          font-size: 2em;
        }
    
        ion-grid {
          margin-top: 0;
        }
      }

      .source {
        bottom: -20px;
      }
    }

    ion-col {
      text-align: center;

      &:first-of-type {
        border-right: none!important;
      }
    }
  }

  @media (min-width: 768px) {
    .scroll-content {
      max-width: 100%!important;
    }
  }
}
