<div class="user-data-container">
  <span class="menu-user-name">
    {{user?.name}}
  </span>
  <span class="menu-user-actions">
    <button ion-button clear icon-only (click)="gotoPage('ProfilePage')">
        <button ion-button clear icon-only (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
        </button>
    </button>
  </span>
</div>