<ion-header>

  <ion-navbar>
    <ion-title>Share the recipe book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-10>
      <ion-input type="text" placeholder="E-mail address" [(ngModel)]="email" required name="email"></ion-input>
    </ion-col>
    <ion-col col-2>
      <button ion-button color="primary" (click)="share()">Share</button>
    </ion-col>
  </ion-row>
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - {{ user.email }}
    </li>
  </ul>
</ion-content>
